<<<<<<< HEAD
.card-tugas {
=======
body {
    background-color: #fafdfb;
    /* #FAFDFB #F7F9FB */
}

.card-hover {
>>>>>>> f2188a2960aac7eb26297177ae3717b2e7b0e586
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

<<<<<<< HEAD
.card-tugas:hover,
.card-tugas:focus,
.card-tugas:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 4px 3px 0px 1px rgb(0, 0, 0) !important;
    -moz-box-shadow: 4px 3px 0px 1px rgb(0, 0, 0) !important;
    box-shadow: 4px 3px 0px 0px rgb(0, 0, 0) !important;
}

.active {
    color: #138496 !important;
}

hr {
    border: 1px solid black;
=======
.card-hover:hover,
.card-hover:focus,
.card-hover:active {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-box-shadow: 2px 2px 2px 2px #eaedeb !important;
    -moz-box-shadow: 2px 2px 2px 2px #eaedeb !important;
    box-shadow: 2px 2px 2px 2px #eaedeb !important;
}

.active {
    color: white !important;
    font-weight: bold !important;
}

/* hr {
    border: 1px solid black;
} */

::-webkit-scrollbar-track {
    border: 1px solid #158cba;
    background-color: #e3e3e3;
}

::-webkit-scrollbar {
    height: 4px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #127ba3;
    border-radius: 15px;

    /* #158CBA */
>>>>>>> f2188a2960aac7eb26297177ae3717b2e7b0e586
}
